body {
    min-height: 100vh;
    padding: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

.widget-button {
    display: block;
    min-width: 210px;
    border: 2px solid transparent;
    border-radius: 6px;
    margin: 5px;
    padding: 9px 15px;
    color: #000000;
    font-size: inherit;
    font-weight: 300;
    font-family: inherit;
    background-color: #FF8630;
    transition: background-color 0.2s linear;
}

.widget-button:hover {
    border: 2px solid #FF8630;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.popover {
    color:#000000;
    position: absolute;
    height: 80px;
    width: 300px;
    border: 2px solid rgba(211, 211, 211, 0.573);
    display: block;
}

.popover-title {
    background-color: rgba(211, 211, 211, 0.573);
    padding: 5px 10px;
}

.popover-content {
    padding: 5px 10px;
}

.popover-arrow {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px 10px 0;
    border-top-color: #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-style: solid;
  }
  
  .popover-arrow::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -10px;
    border-width: 10px 10px 0;
    border-top-color: rgba(0,0,0,.25);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-style: solid;
  }
